.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container a {
    position: relative;
    display: inline-block;
    padding: 30px 30px;
    border: 2px solid yellow;
    margin: 40px;
    text-decoration: none;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0002);
    letter-spacing: 4px;
    color: white;
    transition: 0.5s;
    transition-delay: 0s;
}

.container a:hover {
    cursor: default;
    transition-delay: 1.5s;
}

.container a::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: yellow;
    box-shadow: 5px 8px 0 yellow,
                5px -8px 0 yellow;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

.container a:hover::before {
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 0 0 5px yellow,
                0 0 25px yellow,
                0 0 50px yellow,
                0 0 200px yellow;
    cursor: default;
    transition-delay: 0s, 0.5s, 1s, 1s;
}

.container a span {
    position: relative;
    z-index: 100;
}

.container a::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: yellow;
    box-shadow: -5px -8px 0 yellow,
                -5px 8px 0 yellow;
    transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

.container a:hover::after {
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: 0 0 5px yellow,
                0 0 25px yellow,
                0 0 50px yellow,
                0 0 200px yellow;
    cursor: default;
    transition-delay: 0s, 0.5s, 1s, 1s;
}